.container {
    display: grid;
    height: 100vh;

    gap: 25px;
    justify-content: space-around;
    align-content: space-around;
    grid-template: auto;
}

.sidebar-l {
    width: 280px;
    height: 360px;
    background-color: skyblue;
    border: 2px solid black;

    display: grid;

}

.content {
    width: 280px;
    height: 360px;
    background-color: skyblue;
    border: 2px solid black;

    display: grid;
}
.sidebar-r {
    width: 280px;
    height: 360px;
    background-color: skyblue;
    border: 2px solid black;

    display: grid;
}