body {
    margin: 0;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 4fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 2 / 3 / 3; }



.div1{
    background-color: green;
    height: 70vh;
}
.div2 {
    background-color: yellow;

}
.div3 {
    background-color: blue;

}

.Box {
    display: flex; /* Use Flexbox layout */
    flex-direction: column; /* Stack items vertically */
    gap: 50px; /* Define the gap between items */
    align-items: center;
    padding-top: 25px;

}

.item {
    /* Add any additional styling for items here */
    padding: 10px; /* Example padding */
    border: 1px solid #ccc; /* Example border */
    background-color: white;
    width: 80%;

}

header {
    background-color: lightblue;
    padding: 15px;

}

footer {
    background-color: gray;
    padding: 15px;
}


